src/main/app/create-product.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:magento="http://www.mulesoft.org/schema/mule/magento" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/current/mule-magento.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	version="EE-3.5.0">

	<flow name="post:/product/createProduct:connect-magento-config"
		doc:name="post:/product/createProduct:connect-magento-config">
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
		<logger
			message="&quot;Product type&quot;:::::::::::::::#[payload]:::::::::::::::::::::::::::#[json:ProductInformation/type] "
			level="INFO" doc:name="Logger" />
		<magento:create-product config-ref="Magento"
			doc:name="Magento" set="#[json:ProductInformation/ProductSet]" sku="#[json:ProductInformation/ProductSku] "
			type="#[json:ProductInformation/ProductType]">
			<magento:attributes name="#[json:ProductInformation/ProductName] "
				description="#[json:ProductInformation/ProductDescription] "
				short_description="#[json:ProductInformation/ProductShortDescription] "
				weight="#[json:ProductInformation/ProductWeight] " status="#[json:ProductInformation/ProductStatus] "
				visibility="#[json:ProductInformation/ProductVisibility] " />
		</magento:create-product>
		<custom-transformer class="com.whiteskylabs.product.GetProductResponse"
			doc:name="Java" />
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<message-properties-transformer
				doc:name="set-properties">
				<add-message-property key="http.status" value="400" />
				<add-message-property key="Content-Type" value="application/json" />
			</message-properties-transformer>
			<set-payload
				value="{ &quot;message&quot; : &quot;#[exception.getCause().getMessage()] #[exception.getMessage()]&quot; }"
				doc:name="Set Payload" />

		</catch-exception-strategy>
	</flow>
</mule>
